body{
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    padding-left: 20px;
    padding-right: 20px;
}
.para{
    font-size: 18px;
    line-height: 20px;
    max-width: 552px;

}
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }